.container {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid #eee;
}

.logo {
  width: 2rem;
  height: 2rem;
  background-color: blueviolet;
  border-radius: 1rem;
}